pco-mock.xml
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit-soap="http://www.mulesoft.org/schema/mule/apikit-soap" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.mulesoft.org/schema/mule/apikit-soap http://www.mulesoft.org/schema/mule/apikit-soap/current/mule-apikit-soap.xsd">
  <!-- <http:listener-config name="api-httpListenerConfig" host="0.0.0.0" port="8081" /> -->
  <apikit-soap:config name="/AssessingCreditRisk/SOAPEventSource/api-config" wsdlUrl="output.wsdl" serviceName="AssessingCreditRisk" portName="SOAPEventSource" doc:name="APIkit SOAP: Configuration"/>
  <flow name="api-main">
    <http:listener path="/AssessingCreditRisk/SOAPEventSource" config-ref="Web_Service_HTTP_Listener_Config" doc:name="/AssessingCreditRisk/SOAPEventSource" />
    <apikit-soap:router config-ref="/AssessingCreditRisk/SOAPEventSource/api-config" doc:name="SOAP Router"/>
  </flow>
  <flow name="PCOCreditRiskAssessment:/AssessingCreditRisk/SOAPEventSource/api-config">
    <logger message="PCO Input From system API...#[message.payloadAs(java.lang.String)]" level="INFO" doc:name="IncomingRequestlogger"/>
        <round-robin doc:name="Round Robin">
            <set-payload value="&lt;Output&gt;
	&lt;ApplicationDetails&gt;
&lt;T24ApplicationID&gt;OR170803000001&lt;/T24ApplicationID&gt;
&lt;PCOApplicationID&gt;123456789876111&lt;/PCOApplicationID&gt;
&lt;TypeOfApplication&gt;C&lt;/TypeOfApplication&gt;
&lt;DateApplicationUpdated&gt;20170803&lt;/DateApplicationUpdated&gt;
&lt;TimeApplicationUpdated&gt;143022&lt;/TimeApplicationUpdated&gt;
&lt;ReprocessCount&gt;1&lt;/ReprocessCount&gt;
	&lt;/ApplicationDetails&gt;

	&lt;DecisionDetails&gt;
&lt;DecisionCategory&gt;DECISION CATEGORY&lt;/DecisionCategory&gt;
&lt;DecisionText&gt;REFFERED&lt;/DecisionText&gt;
&lt;RateKey&gt;KEY&lt;/RateKey&gt;
&lt;CardTypeAllocated&gt;GOLD&lt;/CardTypeAllocated&gt;
&lt;CreditScore&gt;0095&lt;/CreditScore&gt;
&lt;AssignedLimit&gt;123456&lt;/AssignedLimit&gt;
&lt;MaxBOIBorrowingAmt&gt;2088889.22&lt;/MaxBOIBorrowingAmt&gt;
&lt;TotalGroupExposure&gt;3088889.33&lt;/TotalGroupExposure&gt;
&lt;RiskAdjustedAPR&gt;666.333&lt;/RiskAdjustedAPR&gt;
&lt;AssignedShadowLimit&gt;123&lt;/AssignedShadowLimit&gt;
&lt;CurrentAccountSubProductType&gt;TYPE&lt;/CurrentAccountSubProductType&gt;
&lt;NewMonthlyRepayments&gt;2347.54&lt;/NewMonthlyRepayments&gt;
&lt;CreditGrade&gt;GRAD&lt;/CreditGrade&gt;
&lt;NetMonthlyIncome&gt;23456.76&lt;/NetMonthlyIncome&gt;
&lt;MonthlyCredCommitments_Rev&gt;234.43&lt;/MonthlyCredCommitments_Rev&gt;
&lt;MonthlyCredCommitments_NonRev&gt;234.54&lt;/MonthlyCredCommitments_NonRev&gt;
&lt;MonthlyHouseholdExpenditure&gt;3456&lt;/MonthlyHouseholdExpenditure&gt;
&lt;MonthlyAvailableResidualIncome&gt;344&lt;/MonthlyAvailableResidualIncome&gt;
&lt;AffordableCreditLimit&gt;456&lt;/AffordableCreditLimit&gt;
&lt;ReferenceOfMostRecentApplication&gt;APP REF&lt;/ReferenceOfMostRecentApplication&gt;

		&lt;CounterOffers&gt;
			&lt;CounterOffer1&gt;
&lt;Amount&gt;356432.44&lt;/Amount&gt;
&lt;Term&gt;36&lt;/Term&gt;
&lt;APR&gt;34567.54&lt;/APR&gt;
			&lt;/CounterOffer1&gt;
		&lt;/CounterOffers&gt;

&lt;SpareDecisionField1&gt;SPAREFIELD1&lt;/SpareDecisionField1&gt;
&lt;SpareDecisionField2&gt;SPAREFIELD2&lt;/SpareDecisionField2&gt;
&lt;SpareDecisionField3&gt;SPAREFIELD3&lt;/SpareDecisionField3&gt;
&lt;SpareDecisionField4&gt;SPAREFIELD4&lt;/SpareDecisionField4&gt;
&lt;SpareDecisionField5&gt;SPAREFIELD5&lt;/SpareDecisionField5&gt;
&lt;SpareDecisionField6&gt;SPAREFIELD6&lt;/SpareDecisionField6&gt;
&lt;SpareDecisionField7&gt;SPAREFIELD7&lt;/SpareDecisionField7&gt;
&lt;SpareDecisionField8&gt;SPAREFIELD8&lt;/SpareDecisionField8&gt;
&lt;SpareDecisionField9&gt;SPAREFIELD9&lt;/SpareDecisionField9&gt;
&lt;SpareDecisionField10&gt;SPAREFIELD10&lt;/SpareDecisionField10&gt;
&lt;SpareDecisionField11&gt;SPAREFIELD11&lt;/SpareDecisionField11&gt;
&lt;SpareDecisionField12&gt;SPAREFIELD12&lt;/SpareDecisionField12&gt;
&lt;SpareDecisionField13&gt;SPAREFIELD13&lt;/SpareDecisionField13&gt;
&lt;SpareDecisionField14&gt;SPAREFIELD14&lt;/SpareDecisionField14&gt;
&lt;SpareDecisionField15&gt;SPAREFIELD15&lt;/SpareDecisionField15&gt;
&lt;SpareDecisionField16&gt;SPAREFIELD16&lt;/SpareDecisionField16&gt;
&lt;SpareDecisionField17&gt;SPAREFIELD17&lt;/SpareDecisionField17&gt;
&lt;SpareDecisionField18&gt;SPAREFIELD18&lt;/SpareDecisionField18&gt;
&lt;SpareDecisionField19&gt;SPAREFIELD19&lt;/SpareDecisionField19&gt;
&lt;SpareDecisionField20&gt;SPAREFIELD20&lt;/SpareDecisionField20&gt;


		&lt;ReasonCodes&gt;
			&lt;ReasonCode1&gt;
&lt;Code&gt;CODE&lt;/Code&gt;
&lt;Text&gt;REASON CODE TEXT&lt;/Text&gt;
			&lt;/ReasonCode1&gt;
		&lt;/ReasonCodes&gt;

		&lt;Queues&gt;
&lt;Queue1&gt;QE&lt;/Queue1&gt;
		&lt;/Queues&gt;

		&lt;CorrespondenceLetterCodes&gt;
&lt;LetterCode1&gt;LETTRCODE1&lt;/LetterCode1&gt;
		&lt;/CorrespondenceLetterCodes&gt;

		&lt;NarrativeCodes&gt;
&lt;NarrativeCode&gt;NARRCODE&lt;/NarrativeCode&gt;
		&lt;/NarrativeCodes&gt;

	&lt;/DecisionDetails&gt;

	&lt;BaselResults&gt;
&lt;PDScore&gt;0092&lt;/PDScore&gt;
&lt;PD&gt;3456.123456&lt;/PD&gt;
&lt;PDPool&gt;02&lt;/PDPool&gt;
&lt;EAD&gt;123234.33&lt;/EAD&gt;
&lt;LGD&gt;1344.5424&lt;/LGD&gt;
&lt;EL&gt;3324.33&lt;/EL&gt;
&lt;Correlation&gt;32555.253647&lt;/Correlation&gt;
&lt;RequiredCapitalK&gt;4657.11&lt;/RequiredCapitalK&gt;
&lt;RWA&gt;84573.44&lt;/RWA&gt;
	&lt;/BaselResults&gt;

&lt;Error&gt;
	&lt;Code&gt;ERROR CODE&lt;/Code&gt;
	&lt;Message&gt;ERROR MESSAGE&lt;/Message&gt;
	&lt;Source&gt;ERROR SOURSE&lt;/Source&gt;
&lt;/Error&gt;

	&lt;BureauInformation&gt;
&lt;DMIdentifier&gt;DM IDENTIFIER&lt;/DMIdentifier&gt;
		&lt;PreviousDMIdentifiers&gt;
&lt;DMID1&gt;DM ID 1&lt;/DMID1&gt;
		&lt;/PreviousDMIdentifiers&gt;

			&lt;BureauDetails&gt;
&lt;CustomerId&gt;CUSTOMERID&lt;/CustomerId&gt;
&lt;CRONumber&gt;CRO NO&lt;/CRONumber&gt;
&lt;ApplicantEntryOnInput&gt;01&lt;/ApplicantEntryOnInput&gt;
&lt;BestCustomerInd&gt;N&lt;/BestCustomerInd&gt;
&lt;ConsolidMarketClass&gt;CL&lt;/ConsolidMarketClass&gt;
&lt;CCRReference&gt;CCR REFERENCE&lt;/CCRReference&gt;
&lt;ICBReference&gt;ICB REFERENCE&lt;/ICBReference&gt;
&lt;IndivOrCompanyInd&gt;COMPIN&lt;/IndivOrCompanyInd&gt;
&lt;IndividualDOBMatchedToInput&gt;YES&lt;/IndividualDOBMatchedToInput&gt;
&lt;GlobalFicoScore&gt;SCOR&lt;/GlobalFicoScore&gt;
&lt;CRIFScore&gt;CRIF&lt;/CRIFScore&gt;

				&lt;RawToCodedBlock&gt;
&lt;CodedBlockPlaceholder1&gt;CDBLPLHR01&lt;/CodedBlockPlaceholder1&gt;
&lt;CodedBlockPlaceholder2&gt;CDBLPLHR02&lt;/CodedBlockPlaceholder2&gt;
&lt;CodedBlockPlaceholder3&gt;CDBLPLHR03&lt;/CodedBlockPlaceholder3&gt;
&lt;CodedBlockPlaceholder4&gt;CDBLPLHR04&lt;/CodedBlockPlaceholder4&gt;
&lt;CodedBlockPlaceholder5&gt;CDBLPLHR05&lt;/CodedBlockPlaceholder5&gt;
&lt;CodedBlockPlaceholder6&gt;CDBLPLHR06&lt;/CodedBlockPlaceholder6&gt;
&lt;CodedBlockPlaceholder7&gt;CDBLPLHR07&lt;/CodedBlockPlaceholder7&gt;
&lt;CodedBlockPlaceholder8&gt;CDBLPLHR08&lt;/CodedBlockPlaceholder8&gt;
&lt;CodedBlockPlaceholder9&gt;CDBLPLHR09&lt;/CodedBlockPlaceholder9&gt;
&lt;CodedBlockPlaceholder10&gt;CDBLPLHR10&lt;/CodedBlockPlaceholder10&gt;
&lt;CodedBlockPlaceholder11&gt;CDBLPLHR11&lt;/CodedBlockPlaceholder11&gt;
&lt;CodedBlockPlaceholder12&gt;CDBLPLHR12&lt;/CodedBlockPlaceholder12&gt;
&lt;CodedBlockPlaceholder13&gt;CDBLPLHR13&lt;/CodedBlockPlaceholder13&gt;
&lt;CodedBlockPlaceholder14&gt;CDBLPLHR14&lt;/CodedBlockPlaceholder14&gt;
&lt;CodedBlockPlaceholder15&gt;CDBLPLHR15&lt;/CodedBlockPlaceholder15&gt;
&lt;CodedBlockPlaceholder16&gt;CDBLPLHR16&lt;/CodedBlockPlaceholder16&gt;
&lt;CodedBlockPlaceholder17&gt;CDBLPLHR17&lt;/CodedBlockPlaceholder17&gt;
&lt;CodedBlockPlaceholder18&gt;CDBLPLHR18&lt;/CodedBlockPlaceholder18&gt;
&lt;CodedBlockPlaceholder19&gt;CDBLPLHR19&lt;/CodedBlockPlaceholder19&gt;
&lt;CodedBlockPlaceholder20&gt;CDBLPLHR20&lt;/CodedBlockPlaceholder20&gt;
&lt;CodedBlockPlaceholder21&gt;CDBLPLHR21&lt;/CodedBlockPlaceholder21&gt;
&lt;CodedBlockPlaceholder22&gt;CDBLPLHR22&lt;/CodedBlockPlaceholder22&gt;
&lt;CodedBlockPlaceholder23&gt;CDBLPLHR23&lt;/CodedBlockPlaceholder23&gt;
&lt;CodedBlockPlaceholder24&gt;CDBLPLHR24&lt;/CodedBlockPlaceholder24&gt;
&lt;CodedBlockPlaceholder25&gt;CDBLPLHR25&lt;/CodedBlockPlaceholder25&gt;
&lt;CodedBlockPlaceholder26&gt;CDBLPLHR26&lt;/CodedBlockPlaceholder26&gt;
&lt;CodedBlockPlaceholder27&gt;CDBLPLHR27&lt;/CodedBlockPlaceholder27&gt;
&lt;CodedBlockPlaceholder28&gt;CDBLPLHR28&lt;/CodedBlockPlaceholder28&gt;
&lt;CodedBlockPlaceholder29&gt;CDBLPLHR29&lt;/CodedBlockPlaceholder29&gt;
&lt;CodedBlockPlaceholder30&gt;CDBLPLHR30&lt;/CodedBlockPlaceholder30&gt;
				&lt;/RawToCodedBlock&gt;

				&lt;GeneratedCriteria&gt;
&lt;CoarseGrading&gt;1&lt;/CoarseGrading&gt;
&lt;NoRestrAccPercOfAll&gt;133&lt;/NoRestrAccPercOfAll&gt;
&lt;NoRestrUnsecLoanAccPercOfAll&gt;1324&lt;/NoRestrUnsecLoanAccPercOfAll&gt;
&lt;NoRestrCCAccPercOfAll&gt;143&lt;/NoRestrCCAccPercOfAll&gt;
&lt;NoRestrUnsecLoanAccBalGT1000PercOfAll&gt;3253&lt;/NoRestrUnsecLoanAccBalGT1000PercOfAll&gt;
&lt;NoRestrCCAccBalGT500PercOfAll&gt;152&lt;/NoRestrCCAccBalGT500PercOfAll&gt;
&lt;NoActiveAccUpToDatePercAll&gt;1241&lt;/NoActiveAccUpToDatePercAll&gt;
&lt;NoActiveBankAccUpToDatePercAll&gt;865&lt;/NoActiveBankAccUpToDatePercAll&gt;
&lt;NoActiveCCAccUpToDatePercAll&gt;124&lt;/NoActiveCCAccUpToDatePercAll&gt;
&lt;NoActiveAcc2PlusL1MPercOfAll&gt;8532&lt;/NoActiveAcc2PlusL1MPercOfAll&gt;
&lt;NoActiveBankAcc2PlusL1MPercOfAll&gt;21453&lt;/NoActiveBankAcc2PlusL1MPercOfAll&gt;
&lt;NoActiveCCAcc2PlusL1MPercOfAll&gt;164225&lt;/NoActiveCCAcc2PlusL1MPercOfAll&gt;
&lt;ActiveRevBalPercLimitL1MtoL3MRatio&gt;4&lt;/ActiveRevBalPercLimitL1MtoL3MRatio&gt;
&lt;ActiveRevBalPercLimitL1MtoL10toL12MRatio&gt;3&lt;/ActiveRevBalPercLimitL1MtoL10toL12MRatio&gt;
&lt;ActiveRevBalPercLimitL3MtoL10toL12MRatio&gt;2&lt;/ActiveRevBalPercLimitL3MtoL10toL12MRatio&gt;
&lt;GeneratedCriteriaPlaceholder1&gt;GNCRPLHR01&lt;/GeneratedCriteriaPlaceholder1&gt;
&lt;GeneratedCriteriaPlaceholder2&gt;GNCRPLHR02&lt;/GeneratedCriteriaPlaceholder2&gt;
&lt;GeneratedCriteriaPlaceholder3&gt;GNCRPLHR03&lt;/GeneratedCriteriaPlaceholder3&gt;
&lt;GeneratedCriteriaPlaceholder4&gt;GNCRPLHR04&lt;/GeneratedCriteriaPlaceholder4&gt;
&lt;GeneratedCriteriaPlaceholder5&gt;GNCRPLHR05&lt;/GeneratedCriteriaPlaceholder5&gt;
&lt;GeneratedCriteriaPlaceholder6&gt;GNCRPLHR06&lt;/GeneratedCriteriaPlaceholder6&gt;
&lt;GeneratedCriteriaPlaceholder7&gt;GNCRPLHR07&lt;/GeneratedCriteriaPlaceholder7&gt;
&lt;GeneratedCriteriaPlaceholder8&gt;GNCRPLHR08&lt;/GeneratedCriteriaPlaceholder8&gt;
&lt;GeneratedCriteriaPlaceholder9&gt;GNCRPLHR09&lt;/GeneratedCriteriaPlaceholder9&gt;
&lt;GeneratedCriteriaPlaceholder10&gt;GNCRPLHR10&lt;/GeneratedCriteriaPlaceholder10&gt;
&lt;GeneratedCriteriaPlaceholder11&gt;GNCRPLHR11&lt;/GeneratedCriteriaPlaceholder11&gt;
&lt;GeneratedCriteriaPlaceholder12&gt;GNCRPLHR12&lt;/GeneratedCriteriaPlaceholder12&gt;
&lt;GeneratedCriteriaPlaceholder13&gt;GNCRPLHR13&lt;/GeneratedCriteriaPlaceholder13&gt;
&lt;GeneratedCriteriaPlaceholder14&gt;GNCRPLHR14&lt;/GeneratedCriteriaPlaceholder14&gt;
&lt;GeneratedCriteriaPlaceholder15&gt;GNCRPLHR15&lt;/GeneratedCriteriaPlaceholder15&gt;
&lt;GeneratedCriteriaPlaceholder16&gt;GNCRPLHR16&lt;/GeneratedCriteriaPlaceholder16&gt;
&lt;GeneratedCriteriaPlaceholder17&gt;GNCRPLHR17&lt;/GeneratedCriteriaPlaceholder17&gt;
&lt;GeneratedCriteriaPlaceholder18&gt;GNCRPLHR18&lt;/GeneratedCriteriaPlaceholder18&gt;
&lt;GeneratedCriteriaPlaceholder19&gt;GNCRPLHR19&lt;/GeneratedCriteriaPlaceholder19&gt;
&lt;GeneratedCriteriaPlaceholder20&gt;GNCRPLHR20&lt;/GeneratedCriteriaPlaceholder20&gt;
				&lt;/GeneratedCriteria&gt;

			&lt;/BureauDetails&gt;
	&lt;/BureauInformation&gt;
&lt;/Output&gt;













" doc:name="Set Payload"/>
            <set-payload value="&lt;Output&gt;
	&lt;ApplicationDetails&gt;
&lt;T24ApplicationID&gt;OR170803000001&lt;/T24ApplicationID&gt;
&lt;PCOApplicationID&gt;123456789876111&lt;/PCOApplicationID&gt;
&lt;TypeOfApplication&gt;C&lt;/TypeOfApplication&gt;
&lt;DateApplicationUpdated&gt;20170803&lt;/DateApplicationUpdated&gt;
&lt;TimeApplicationUpdated&gt;143022&lt;/TimeApplicationUpdated&gt;
&lt;ReprocessCount&gt;1&lt;/ReprocessCount&gt;
	&lt;/ApplicationDetails&gt;

	&lt;DecisionDetails&gt;
&lt;DecisionCategory&gt;DECISION CATEGORY&lt;/DecisionCategory&gt;
&lt;DecisionText&gt;ACCEPTED&lt;/DecisionText&gt;
&lt;RateKey&gt;KEY&lt;/RateKey&gt;
&lt;CardTypeAllocated&gt;GOLD&lt;/CardTypeAllocated&gt;
&lt;CreditScore&gt;0095&lt;/CreditScore&gt;
&lt;AssignedLimit&gt;123456&lt;/AssignedLimit&gt;
&lt;MaxBOIBorrowingAmt&gt;2088889.22&lt;/MaxBOIBorrowingAmt&gt;
&lt;TotalGroupExposure&gt;3088889.33&lt;/TotalGroupExposure&gt;
&lt;RiskAdjustedAPR&gt;666.333&lt;/RiskAdjustedAPR&gt;
&lt;AssignedShadowLimit&gt;123&lt;/AssignedShadowLimit&gt;
&lt;CurrentAccountSubProductType&gt;TYPE&lt;/CurrentAccountSubProductType&gt;
&lt;NewMonthlyRepayments&gt;2347.54&lt;/NewMonthlyRepayments&gt;
&lt;CreditGrade&gt;GRAD&lt;/CreditGrade&gt;
&lt;NetMonthlyIncome&gt;23456.76&lt;/NetMonthlyIncome&gt;
&lt;MonthlyCredCommitments_Rev&gt;234.43&lt;/MonthlyCredCommitments_Rev&gt;
&lt;MonthlyCredCommitments_NonRev&gt;234.54&lt;/MonthlyCredCommitments_NonRev&gt;
&lt;MonthlyHouseholdExpenditure&gt;3456&lt;/MonthlyHouseholdExpenditure&gt;
&lt;MonthlyAvailableResidualIncome&gt;344&lt;/MonthlyAvailableResidualIncome&gt;
&lt;AffordableCreditLimit&gt;456&lt;/AffordableCreditLimit&gt;
&lt;ReferenceOfMostRecentApplication&gt;APP REF&lt;/ReferenceOfMostRecentApplication&gt;

		&lt;CounterOffers&gt;
			&lt;CounterOffer1&gt;
&lt;Amount&gt;356432.44&lt;/Amount&gt;
&lt;Term&gt;36&lt;/Term&gt;
&lt;APR&gt;34567.54&lt;/APR&gt;
			&lt;/CounterOffer1&gt;
		&lt;/CounterOffers&gt;

&lt;SpareDecisionField1&gt;SPAREFIELD1&lt;/SpareDecisionField1&gt;
&lt;SpareDecisionField2&gt;SPAREFIELD2&lt;/SpareDecisionField2&gt;
&lt;SpareDecisionField3&gt;SPAREFIELD3&lt;/SpareDecisionField3&gt;
&lt;SpareDecisionField4&gt;SPAREFIELD4&lt;/SpareDecisionField4&gt;
&lt;SpareDecisionField5&gt;SPAREFIELD5&lt;/SpareDecisionField5&gt;
&lt;SpareDecisionField6&gt;SPAREFIELD6&lt;/SpareDecisionField6&gt;
&lt;SpareDecisionField7&gt;SPAREFIELD7&lt;/SpareDecisionField7&gt;
&lt;SpareDecisionField8&gt;SPAREFIELD8&lt;/SpareDecisionField8&gt;
&lt;SpareDecisionField9&gt;SPAREFIELD9&lt;/SpareDecisionField9&gt;
&lt;SpareDecisionField10&gt;SPAREFIELD10&lt;/SpareDecisionField10&gt;
&lt;SpareDecisionField11&gt;SPAREFIELD11&lt;/SpareDecisionField11&gt;
&lt;SpareDecisionField12&gt;SPAREFIELD12&lt;/SpareDecisionField12&gt;
&lt;SpareDecisionField13&gt;SPAREFIELD13&lt;/SpareDecisionField13&gt;
&lt;SpareDecisionField14&gt;SPAREFIELD14&lt;/SpareDecisionField14&gt;
&lt;SpareDecisionField15&gt;SPAREFIELD15&lt;/SpareDecisionField15&gt;
&lt;SpareDecisionField16&gt;SPAREFIELD16&lt;/SpareDecisionField16&gt;
&lt;SpareDecisionField17&gt;SPAREFIELD17&lt;/SpareDecisionField17&gt;
&lt;SpareDecisionField18&gt;SPAREFIELD18&lt;/SpareDecisionField18&gt;
&lt;SpareDecisionField19&gt;SPAREFIELD19&lt;/SpareDecisionField19&gt;
&lt;SpareDecisionField20&gt;SPAREFIELD20&lt;/SpareDecisionField20&gt;


		&lt;ReasonCodes&gt;
			&lt;ReasonCode1&gt;
&lt;Code&gt;CODE&lt;/Code&gt;
&lt;Text&gt;REASON CODE TEXT&lt;/Text&gt;
			&lt;/ReasonCode1&gt;
		&lt;/ReasonCodes&gt;

		&lt;Queues&gt;
&lt;Queue1&gt;QE&lt;/Queue1&gt;
		&lt;/Queues&gt;

		&lt;CorrespondenceLetterCodes&gt;
&lt;LetterCode1&gt;LETTRCODE1&lt;/LetterCode1&gt;
		&lt;/CorrespondenceLetterCodes&gt;

		&lt;NarrativeCodes&gt;
&lt;NarrativeCode&gt;NARRCODE&lt;/NarrativeCode&gt;
		&lt;/NarrativeCodes&gt;

	&lt;/DecisionDetails&gt;

	&lt;BaselResults&gt;
&lt;PDScore&gt;0092&lt;/PDScore&gt;
&lt;PD&gt;3456.123456&lt;/PD&gt;
&lt;PDPool&gt;02&lt;/PDPool&gt;
&lt;EAD&gt;123234.33&lt;/EAD&gt;
&lt;LGD&gt;1344.5424&lt;/LGD&gt;
&lt;EL&gt;3324.33&lt;/EL&gt;
&lt;Correlation&gt;32555.253647&lt;/Correlation&gt;
&lt;RequiredCapitalK&gt;4657.11&lt;/RequiredCapitalK&gt;
&lt;RWA&gt;84573.44&lt;/RWA&gt;
	&lt;/BaselResults&gt;

&lt;Error&gt;
	&lt;Code&gt;ERROR CODE&lt;/Code&gt;
	&lt;Message&gt;ERROR MESSAGE&lt;/Message&gt;
	&lt;Source&gt;ERROR SOURSE&lt;/Source&gt;
&lt;/Error&gt;

	&lt;BureauInformation&gt;
&lt;DMIdentifier&gt;DM IDENTIFIER&lt;/DMIdentifier&gt;
		&lt;PreviousDMIdentifiers&gt;
&lt;DMID1&gt;DM ID 1&lt;/DMID1&gt;
		&lt;/PreviousDMIdentifiers&gt;

			&lt;BureauDetails&gt;
&lt;CustomerId&gt;CUSTOMERID&lt;/CustomerId&gt;
&lt;CRONumber&gt;CRO NO&lt;/CRONumber&gt;
&lt;ApplicantEntryOnInput&gt;01&lt;/ApplicantEntryOnInput&gt;
&lt;BestCustomerInd&gt;N&lt;/BestCustomerInd&gt;
&lt;ConsolidMarketClass&gt;CL&lt;/ConsolidMarketClass&gt;
&lt;CCRReference&gt;CCR REFERENCE&lt;/CCRReference&gt;
&lt;ICBReference&gt;ICB REFERENCE&lt;/ICBReference&gt;
&lt;IndivOrCompanyInd&gt;COMPIN&lt;/IndivOrCompanyInd&gt;
&lt;IndividualDOBMatchedToInput&gt;YES&lt;/IndividualDOBMatchedToInput&gt;
&lt;GlobalFicoScore&gt;SCOR&lt;/GlobalFicoScore&gt;
&lt;CRIFScore&gt;CRIF&lt;/CRIFScore&gt;

				&lt;RawToCodedBlock&gt;
&lt;CodedBlockPlaceholder1&gt;CDBLPLHR01&lt;/CodedBlockPlaceholder1&gt;
&lt;CodedBlockPlaceholder2&gt;CDBLPLHR02&lt;/CodedBlockPlaceholder2&gt;
&lt;CodedBlockPlaceholder3&gt;CDBLPLHR03&lt;/CodedBlockPlaceholder3&gt;
&lt;CodedBlockPlaceholder4&gt;CDBLPLHR04&lt;/CodedBlockPlaceholder4&gt;
&lt;CodedBlockPlaceholder5&gt;CDBLPLHR05&lt;/CodedBlockPlaceholder5&gt;
&lt;CodedBlockPlaceholder6&gt;CDBLPLHR06&lt;/CodedBlockPlaceholder6&gt;
&lt;CodedBlockPlaceholder7&gt;CDBLPLHR07&lt;/CodedBlockPlaceholder7&gt;
&lt;CodedBlockPlaceholder8&gt;CDBLPLHR08&lt;/CodedBlockPlaceholder8&gt;
&lt;CodedBlockPlaceholder9&gt;CDBLPLHR09&lt;/CodedBlockPlaceholder9&gt;
&lt;CodedBlockPlaceholder10&gt;CDBLPLHR10&lt;/CodedBlockPlaceholder10&gt;
&lt;CodedBlockPlaceholder11&gt;CDBLPLHR11&lt;/CodedBlockPlaceholder11&gt;
&lt;CodedBlockPlaceholder12&gt;CDBLPLHR12&lt;/CodedBlockPlaceholder12&gt;
&lt;CodedBlockPlaceholder13&gt;CDBLPLHR13&lt;/CodedBlockPlaceholder13&gt;
&lt;CodedBlockPlaceholder14&gt;CDBLPLHR14&lt;/CodedBlockPlaceholder14&gt;
&lt;CodedBlockPlaceholder15&gt;CDBLPLHR15&lt;/CodedBlockPlaceholder15&gt;
&lt;CodedBlockPlaceholder16&gt;CDBLPLHR16&lt;/CodedBlockPlaceholder16&gt;
&lt;CodedBlockPlaceholder17&gt;CDBLPLHR17&lt;/CodedBlockPlaceholder17&gt;
&lt;CodedBlockPlaceholder18&gt;CDBLPLHR18&lt;/CodedBlockPlaceholder18&gt;
&lt;CodedBlockPlaceholder19&gt;CDBLPLHR19&lt;/CodedBlockPlaceholder19&gt;
&lt;CodedBlockPlaceholder20&gt;CDBLPLHR20&lt;/CodedBlockPlaceholder20&gt;
&lt;CodedBlockPlaceholder21&gt;CDBLPLHR21&lt;/CodedBlockPlaceholder21&gt;
&lt;CodedBlockPlaceholder22&gt;CDBLPLHR22&lt;/CodedBlockPlaceholder22&gt;
&lt;CodedBlockPlaceholder23&gt;CDBLPLHR23&lt;/CodedBlockPlaceholder23&gt;
&lt;CodedBlockPlaceholder24&gt;CDBLPLHR24&lt;/CodedBlockPlaceholder24&gt;
&lt;CodedBlockPlaceholder25&gt;CDBLPLHR25&lt;/CodedBlockPlaceholder25&gt;
&lt;CodedBlockPlaceholder26&gt;CDBLPLHR26&lt;/CodedBlockPlaceholder26&gt;
&lt;CodedBlockPlaceholder27&gt;CDBLPLHR27&lt;/CodedBlockPlaceholder27&gt;
&lt;CodedBlockPlaceholder28&gt;CDBLPLHR28&lt;/CodedBlockPlaceholder28&gt;
&lt;CodedBlockPlaceholder29&gt;CDBLPLHR29&lt;/CodedBlockPlaceholder29&gt;
&lt;CodedBlockPlaceholder30&gt;CDBLPLHR30&lt;/CodedBlockPlaceholder30&gt;
				&lt;/RawToCodedBlock&gt;

				&lt;GeneratedCriteria&gt;
&lt;CoarseGrading&gt;1&lt;/CoarseGrading&gt;
&lt;NoRestrAccPercOfAll&gt;133&lt;/NoRestrAccPercOfAll&gt;
&lt;NoRestrUnsecLoanAccPercOfAll&gt;1324&lt;/NoRestrUnsecLoanAccPercOfAll&gt;
&lt;NoRestrCCAccPercOfAll&gt;143&lt;/NoRestrCCAccPercOfAll&gt;
&lt;NoRestrUnsecLoanAccBalGT1000PercOfAll&gt;3253&lt;/NoRestrUnsecLoanAccBalGT1000PercOfAll&gt;
&lt;NoRestrCCAccBalGT500PercOfAll&gt;152&lt;/NoRestrCCAccBalGT500PercOfAll&gt;
&lt;NoActiveAccUpToDatePercAll&gt;1241&lt;/NoActiveAccUpToDatePercAll&gt;
&lt;NoActiveBankAccUpToDatePercAll&gt;865&lt;/NoActiveBankAccUpToDatePercAll&gt;
&lt;NoActiveCCAccUpToDatePercAll&gt;124&lt;/NoActiveCCAccUpToDatePercAll&gt;
&lt;NoActiveAcc2PlusL1MPercOfAll&gt;8532&lt;/NoActiveAcc2PlusL1MPercOfAll&gt;
&lt;NoActiveBankAcc2PlusL1MPercOfAll&gt;21453&lt;/NoActiveBankAcc2PlusL1MPercOfAll&gt;
&lt;NoActiveCCAcc2PlusL1MPercOfAll&gt;164225&lt;/NoActiveCCAcc2PlusL1MPercOfAll&gt;
&lt;ActiveRevBalPercLimitL1MtoL3MRatio&gt;4&lt;/ActiveRevBalPercLimitL1MtoL3MRatio&gt;
&lt;ActiveRevBalPercLimitL1MtoL10toL12MRatio&gt;3&lt;/ActiveRevBalPercLimitL1MtoL10toL12MRatio&gt;
&lt;ActiveRevBalPercLimitL3MtoL10toL12MRatio&gt;2&lt;/ActiveRevBalPercLimitL3MtoL10toL12MRatio&gt;
&lt;GeneratedCriteriaPlaceholder1&gt;GNCRPLHR01&lt;/GeneratedCriteriaPlaceholder1&gt;
&lt;GeneratedCriteriaPlaceholder2&gt;GNCRPLHR02&lt;/GeneratedCriteriaPlaceholder2&gt;
&lt;GeneratedCriteriaPlaceholder3&gt;GNCRPLHR03&lt;/GeneratedCriteriaPlaceholder3&gt;
&lt;GeneratedCriteriaPlaceholder4&gt;GNCRPLHR04&lt;/GeneratedCriteriaPlaceholder4&gt;
&lt;GeneratedCriteriaPlaceholder5&gt;GNCRPLHR05&lt;/GeneratedCriteriaPlaceholder5&gt;
&lt;GeneratedCriteriaPlaceholder6&gt;GNCRPLHR06&lt;/GeneratedCriteriaPlaceholder6&gt;
&lt;GeneratedCriteriaPlaceholder7&gt;GNCRPLHR07&lt;/GeneratedCriteriaPlaceholder7&gt;
&lt;GeneratedCriteriaPlaceholder8&gt;GNCRPLHR08&lt;/GeneratedCriteriaPlaceholder8&gt;
&lt;GeneratedCriteriaPlaceholder9&gt;GNCRPLHR09&lt;/GeneratedCriteriaPlaceholder9&gt;
&lt;GeneratedCriteriaPlaceholder10&gt;GNCRPLHR10&lt;/GeneratedCriteriaPlaceholder10&gt;
&lt;GeneratedCriteriaPlaceholder11&gt;GNCRPLHR11&lt;/GeneratedCriteriaPlaceholder11&gt;
&lt;GeneratedCriteriaPlaceholder12&gt;GNCRPLHR12&lt;/GeneratedCriteriaPlaceholder12&gt;
&lt;GeneratedCriteriaPlaceholder13&gt;GNCRPLHR13&lt;/GeneratedCriteriaPlaceholder13&gt;
&lt;GeneratedCriteriaPlaceholder14&gt;GNCRPLHR14&lt;/GeneratedCriteriaPlaceholder14&gt;
&lt;GeneratedCriteriaPlaceholder15&gt;GNCRPLHR15&lt;/GeneratedCriteriaPlaceholder15&gt;
&lt;GeneratedCriteriaPlaceholder16&gt;GNCRPLHR16&lt;/GeneratedCriteriaPlaceholder16&gt;
&lt;GeneratedCriteriaPlaceholder17&gt;GNCRPLHR17&lt;/GeneratedCriteriaPlaceholder17&gt;
&lt;GeneratedCriteriaPlaceholder18&gt;GNCRPLHR18&lt;/GeneratedCriteriaPlaceholder18&gt;
&lt;GeneratedCriteriaPlaceholder19&gt;GNCRPLHR19&lt;/GeneratedCriteriaPlaceholder19&gt;
&lt;GeneratedCriteriaPlaceholder20&gt;GNCRPLHR20&lt;/GeneratedCriteriaPlaceholder20&gt;
				&lt;/GeneratedCriteria&gt;

			&lt;/BureauDetails&gt;
	&lt;/BureauInformation&gt;
&lt;/Output&gt;













" doc:name="Set Payload"/>
            <set-payload value="&lt;Output&gt;
	&lt;ApplicationDetails&gt;
&lt;T24ApplicationID&gt;OR170803000001&lt;/T24ApplicationID&gt;
&lt;PCOApplicationID&gt;123456789876111&lt;/PCOApplicationID&gt;
&lt;TypeOfApplication&gt;C&lt;/TypeOfApplication&gt;
&lt;DateApplicationUpdated&gt;20170803&lt;/DateApplicationUpdated&gt;
&lt;TimeApplicationUpdated&gt;143022&lt;/TimeApplicationUpdated&gt;
&lt;ReprocessCount&gt;1&lt;/ReprocessCount&gt;
	&lt;/ApplicationDetails&gt;

	&lt;DecisionDetails&gt;
&lt;DecisionCategory&gt;DECISION CATEGORY&lt;/DecisionCategory&gt;
&lt;DecisionText&gt;REJECTED&lt;/DecisionText&gt;
&lt;RateKey&gt;KEY&lt;/RateKey&gt;
&lt;CardTypeAllocated&gt;GOLD&lt;/CardTypeAllocated&gt;
&lt;CreditScore&gt;0095&lt;/CreditScore&gt;
&lt;AssignedLimit&gt;123456&lt;/AssignedLimit&gt;
&lt;MaxBOIBorrowingAmt&gt;2088889.22&lt;/MaxBOIBorrowingAmt&gt;
&lt;TotalGroupExposure&gt;3088889.33&lt;/TotalGroupExposure&gt;
&lt;RiskAdjustedAPR&gt;666.333&lt;/RiskAdjustedAPR&gt;
&lt;AssignedShadowLimit&gt;123&lt;/AssignedShadowLimit&gt;
&lt;CurrentAccountSubProductType&gt;TYPE&lt;/CurrentAccountSubProductType&gt;
&lt;NewMonthlyRepayments&gt;2347.54&lt;/NewMonthlyRepayments&gt;
&lt;CreditGrade&gt;GRAD&lt;/CreditGrade&gt;
&lt;NetMonthlyIncome&gt;23456.76&lt;/NetMonthlyIncome&gt;
&lt;MonthlyCredCommitments_Rev&gt;234.43&lt;/MonthlyCredCommitments_Rev&gt;
&lt;MonthlyCredCommitments_NonRev&gt;234.54&lt;/MonthlyCredCommitments_NonRev&gt;
&lt;MonthlyHouseholdExpenditure&gt;3456&lt;/MonthlyHouseholdExpenditure&gt;
&lt;MonthlyAvailableResidualIncome&gt;344&lt;/MonthlyAvailableResidualIncome&gt;
&lt;AffordableCreditLimit&gt;456&lt;/AffordableCreditLimit&gt;
&lt;ReferenceOfMostRecentApplication&gt;APP REF&lt;/ReferenceOfMostRecentApplication&gt;

		&lt;CounterOffers&gt;
			&lt;CounterOffer1&gt;
&lt;Amount&gt;356432.44&lt;/Amount&gt;
&lt;Term&gt;36&lt;/Term&gt;
&lt;APR&gt;34567.54&lt;/APR&gt;
			&lt;/CounterOffer1&gt;
		&lt;/CounterOffers&gt;

&lt;SpareDecisionField1&gt;SPAREFIELD1&lt;/SpareDecisionField1&gt;
&lt;SpareDecisionField2&gt;SPAREFIELD2&lt;/SpareDecisionField2&gt;
&lt;SpareDecisionField3&gt;SPAREFIELD3&lt;/SpareDecisionField3&gt;
&lt;SpareDecisionField4&gt;SPAREFIELD4&lt;/SpareDecisionField4&gt;
&lt;SpareDecisionField5&gt;SPAREFIELD5&lt;/SpareDecisionField5&gt;
&lt;SpareDecisionField6&gt;SPAREFIELD6&lt;/SpareDecisionField6&gt;
&lt;SpareDecisionField7&gt;SPAREFIELD7&lt;/SpareDecisionField7&gt;
&lt;SpareDecisionField8&gt;SPAREFIELD8&lt;/SpareDecisionField8&gt;
&lt;SpareDecisionField9&gt;SPAREFIELD9&lt;/SpareDecisionField9&gt;
&lt;SpareDecisionField10&gt;SPAREFIELD10&lt;/SpareDecisionField10&gt;
&lt;SpareDecisionField11&gt;SPAREFIELD11&lt;/SpareDecisionField11&gt;
&lt;SpareDecisionField12&gt;SPAREFIELD12&lt;/SpareDecisionField12&gt;
&lt;SpareDecisionField13&gt;SPAREFIELD13&lt;/SpareDecisionField13&gt;
&lt;SpareDecisionField14&gt;SPAREFIELD14&lt;/SpareDecisionField14&gt;
&lt;SpareDecisionField15&gt;SPAREFIELD15&lt;/SpareDecisionField15&gt;
&lt;SpareDecisionField16&gt;SPAREFIELD16&lt;/SpareDecisionField16&gt;
&lt;SpareDecisionField17&gt;SPAREFIELD17&lt;/SpareDecisionField17&gt;
&lt;SpareDecisionField18&gt;SPAREFIELD18&lt;/SpareDecisionField18&gt;
&lt;SpareDecisionField19&gt;SPAREFIELD19&lt;/SpareDecisionField19&gt;
&lt;SpareDecisionField20&gt;SPAREFIELD20&lt;/SpareDecisionField20&gt;


		&lt;ReasonCodes&gt;
			&lt;ReasonCode1&gt;
&lt;Code&gt;CODE&lt;/Code&gt;
&lt;Text&gt;REASON CODE TEXT&lt;/Text&gt;
			&lt;/ReasonCode1&gt;
		&lt;/ReasonCodes&gt;

		&lt;Queues&gt;
&lt;Queue1&gt;QE&lt;/Queue1&gt;
		&lt;/Queues&gt;

		&lt;CorrespondenceLetterCodes&gt;
&lt;LetterCode1&gt;LETTRCODE1&lt;/LetterCode1&gt;
		&lt;/CorrespondenceLetterCodes&gt;

		&lt;NarrativeCodes&gt;
&lt;NarrativeCode&gt;NARRCODE&lt;/NarrativeCode&gt;
		&lt;/NarrativeCodes&gt;

	&lt;/DecisionDetails&gt;

	&lt;BaselResults&gt;
&lt;PDScore&gt;0092&lt;/PDScore&gt;
&lt;PD&gt;3456.123456&lt;/PD&gt;
&lt;PDPool&gt;02&lt;/PDPool&gt;
&lt;EAD&gt;123234.33&lt;/EAD&gt;
&lt;LGD&gt;1344.5424&lt;/LGD&gt;
&lt;EL&gt;3324.33&lt;/EL&gt;
&lt;Correlation&gt;32555.253647&lt;/Correlation&gt;
&lt;RequiredCapitalK&gt;4657.11&lt;/RequiredCapitalK&gt;
&lt;RWA&gt;84573.44&lt;/RWA&gt;
	&lt;/BaselResults&gt;

&lt;Error&gt;
	&lt;Code&gt;ERROR CODE&lt;/Code&gt;
	&lt;Message&gt;ERROR MESSAGE&lt;/Message&gt;
	&lt;Source&gt;ERROR SOURSE&lt;/Source&gt;
&lt;/Error&gt;

	&lt;BureauInformation&gt;
&lt;DMIdentifier&gt;DM IDENTIFIER&lt;/DMIdentifier&gt;
		&lt;PreviousDMIdentifiers&gt;
&lt;DMID1&gt;DM ID 1&lt;/DMID1&gt;
		&lt;/PreviousDMIdentifiers&gt;

			&lt;BureauDetails&gt;
&lt;CustomerId&gt;CUSTOMERID&lt;/CustomerId&gt;
&lt;CRONumber&gt;CRO NO&lt;/CRONumber&gt;
&lt;ApplicantEntryOnInput&gt;01&lt;/ApplicantEntryOnInput&gt;
&lt;BestCustomerInd&gt;N&lt;/BestCustomerInd&gt;
&lt;ConsolidMarketClass&gt;CL&lt;/ConsolidMarketClass&gt;
&lt;CCRReference&gt;CCR REFERENCE&lt;/CCRReference&gt;
&lt;ICBReference&gt;ICB REFERENCE&lt;/ICBReference&gt;
&lt;IndivOrCompanyInd&gt;COMPIN&lt;/IndivOrCompanyInd&gt;
&lt;IndividualDOBMatchedToInput&gt;YES&lt;/IndividualDOBMatchedToInput&gt;
&lt;GlobalFicoScore&gt;SCOR&lt;/GlobalFicoScore&gt;
&lt;CRIFScore&gt;CRIF&lt;/CRIFScore&gt;

				&lt;RawToCodedBlock&gt;
&lt;CodedBlockPlaceholder1&gt;CDBLPLHR01&lt;/CodedBlockPlaceholder1&gt;
&lt;CodedBlockPlaceholder2&gt;CDBLPLHR02&lt;/CodedBlockPlaceholder2&gt;
&lt;CodedBlockPlaceholder3&gt;CDBLPLHR03&lt;/CodedBlockPlaceholder3&gt;
&lt;CodedBlockPlaceholder4&gt;CDBLPLHR04&lt;/CodedBlockPlaceholder4&gt;
&lt;CodedBlockPlaceholder5&gt;CDBLPLHR05&lt;/CodedBlockPlaceholder5&gt;
&lt;CodedBlockPlaceholder6&gt;CDBLPLHR06&lt;/CodedBlockPlaceholder6&gt;
&lt;CodedBlockPlaceholder7&gt;CDBLPLHR07&lt;/CodedBlockPlaceholder7&gt;
&lt;CodedBlockPlaceholder8&gt;CDBLPLHR08&lt;/CodedBlockPlaceholder8&gt;
&lt;CodedBlockPlaceholder9&gt;CDBLPLHR09&lt;/CodedBlockPlaceholder9&gt;
&lt;CodedBlockPlaceholder10&gt;CDBLPLHR10&lt;/CodedBlockPlaceholder10&gt;
&lt;CodedBlockPlaceholder11&gt;CDBLPLHR11&lt;/CodedBlockPlaceholder11&gt;
&lt;CodedBlockPlaceholder12&gt;CDBLPLHR12&lt;/CodedBlockPlaceholder12&gt;
&lt;CodedBlockPlaceholder13&gt;CDBLPLHR13&lt;/CodedBlockPlaceholder13&gt;
&lt;CodedBlockPlaceholder14&gt;CDBLPLHR14&lt;/CodedBlockPlaceholder14&gt;
&lt;CodedBlockPlaceholder15&gt;CDBLPLHR15&lt;/CodedBlockPlaceholder15&gt;
&lt;CodedBlockPlaceholder16&gt;CDBLPLHR16&lt;/CodedBlockPlaceholder16&gt;
&lt;CodedBlockPlaceholder17&gt;CDBLPLHR17&lt;/CodedBlockPlaceholder17&gt;
&lt;CodedBlockPlaceholder18&gt;CDBLPLHR18&lt;/CodedBlockPlaceholder18&gt;
&lt;CodedBlockPlaceholder19&gt;CDBLPLHR19&lt;/CodedBlockPlaceholder19&gt;
&lt;CodedBlockPlaceholder20&gt;CDBLPLHR20&lt;/CodedBlockPlaceholder20&gt;
&lt;CodedBlockPlaceholder21&gt;CDBLPLHR21&lt;/CodedBlockPlaceholder21&gt;
&lt;CodedBlockPlaceholder22&gt;CDBLPLHR22&lt;/CodedBlockPlaceholder22&gt;
&lt;CodedBlockPlaceholder23&gt;CDBLPLHR23&lt;/CodedBlockPlaceholder23&gt;
&lt;CodedBlockPlaceholder24&gt;CDBLPLHR24&lt;/CodedBlockPlaceholder24&gt;
&lt;CodedBlockPlaceholder25&gt;CDBLPLHR25&lt;/CodedBlockPlaceholder25&gt;
&lt;CodedBlockPlaceholder26&gt;CDBLPLHR26&lt;/CodedBlockPlaceholder26&gt;
&lt;CodedBlockPlaceholder27&gt;CDBLPLHR27&lt;/CodedBlockPlaceholder27&gt;
&lt;CodedBlockPlaceholder28&gt;CDBLPLHR28&lt;/CodedBlockPlaceholder28&gt;
&lt;CodedBlockPlaceholder29&gt;CDBLPLHR29&lt;/CodedBlockPlaceholder29&gt;
&lt;CodedBlockPlaceholder30&gt;CDBLPLHR30&lt;/CodedBlockPlaceholder30&gt;
				&lt;/RawToCodedBlock&gt;

				&lt;GeneratedCriteria&gt;
&lt;CoarseGrading&gt;1&lt;/CoarseGrading&gt;
&lt;NoRestrAccPercOfAll&gt;133&lt;/NoRestrAccPercOfAll&gt;
&lt;NoRestrUnsecLoanAccPercOfAll&gt;1324&lt;/NoRestrUnsecLoanAccPercOfAll&gt;
&lt;NoRestrCCAccPercOfAll&gt;143&lt;/NoRestrCCAccPercOfAll&gt;
&lt;NoRestrUnsecLoanAccBalGT1000PercOfAll&gt;3253&lt;/NoRestrUnsecLoanAccBalGT1000PercOfAll&gt;
&lt;NoRestrCCAccBalGT500PercOfAll&gt;152&lt;/NoRestrCCAccBalGT500PercOfAll&gt;
&lt;NoActiveAccUpToDatePercAll&gt;1241&lt;/NoActiveAccUpToDatePercAll&gt;
&lt;NoActiveBankAccUpToDatePercAll&gt;865&lt;/NoActiveBankAccUpToDatePercAll&gt;
&lt;NoActiveCCAccUpToDatePercAll&gt;124&lt;/NoActiveCCAccUpToDatePercAll&gt;
&lt;NoActiveAcc2PlusL1MPercOfAll&gt;8532&lt;/NoActiveAcc2PlusL1MPercOfAll&gt;
&lt;NoActiveBankAcc2PlusL1MPercOfAll&gt;21453&lt;/NoActiveBankAcc2PlusL1MPercOfAll&gt;
&lt;NoActiveCCAcc2PlusL1MPercOfAll&gt;164225&lt;/NoActiveCCAcc2PlusL1MPercOfAll&gt;
&lt;ActiveRevBalPercLimitL1MtoL3MRatio&gt;4&lt;/ActiveRevBalPercLimitL1MtoL3MRatio&gt;
&lt;ActiveRevBalPercLimitL1MtoL10toL12MRatio&gt;3&lt;/ActiveRevBalPercLimitL1MtoL10toL12MRatio&gt;
&lt;ActiveRevBalPercLimitL3MtoL10toL12MRatio&gt;2&lt;/ActiveRevBalPercLimitL3MtoL10toL12MRatio&gt;
&lt;GeneratedCriteriaPlaceholder1&gt;GNCRPLHR01&lt;/GeneratedCriteriaPlaceholder1&gt;
&lt;GeneratedCriteriaPlaceholder2&gt;GNCRPLHR02&lt;/GeneratedCriteriaPlaceholder2&gt;
&lt;GeneratedCriteriaPlaceholder3&gt;GNCRPLHR03&lt;/GeneratedCriteriaPlaceholder3&gt;
&lt;GeneratedCriteriaPlaceholder4&gt;GNCRPLHR04&lt;/GeneratedCriteriaPlaceholder4&gt;
&lt;GeneratedCriteriaPlaceholder5&gt;GNCRPLHR05&lt;/GeneratedCriteriaPlaceholder5&gt;
&lt;GeneratedCriteriaPlaceholder6&gt;GNCRPLHR06&lt;/GeneratedCriteriaPlaceholder6&gt;
&lt;GeneratedCriteriaPlaceholder7&gt;GNCRPLHR07&lt;/GeneratedCriteriaPlaceholder7&gt;
&lt;GeneratedCriteriaPlaceholder8&gt;GNCRPLHR08&lt;/GeneratedCriteriaPlaceholder8&gt;
&lt;GeneratedCriteriaPlaceholder9&gt;GNCRPLHR09&lt;/GeneratedCriteriaPlaceholder9&gt;
&lt;GeneratedCriteriaPlaceholder10&gt;GNCRPLHR10&lt;/GeneratedCriteriaPlaceholder10&gt;
&lt;GeneratedCriteriaPlaceholder11&gt;GNCRPLHR11&lt;/GeneratedCriteriaPlaceholder11&gt;
&lt;GeneratedCriteriaPlaceholder12&gt;GNCRPLHR12&lt;/GeneratedCriteriaPlaceholder12&gt;
&lt;GeneratedCriteriaPlaceholder13&gt;GNCRPLHR13&lt;/GeneratedCriteriaPlaceholder13&gt;
&lt;GeneratedCriteriaPlaceholder14&gt;GNCRPLHR14&lt;/GeneratedCriteriaPlaceholder14&gt;
&lt;GeneratedCriteriaPlaceholder15&gt;GNCRPLHR15&lt;/GeneratedCriteriaPlaceholder15&gt;
&lt;GeneratedCriteriaPlaceholder16&gt;GNCRPLHR16&lt;/GeneratedCriteriaPlaceholder16&gt;
&lt;GeneratedCriteriaPlaceholder17&gt;GNCRPLHR17&lt;/GeneratedCriteriaPlaceholder17&gt;
&lt;GeneratedCriteriaPlaceholder18&gt;GNCRPLHR18&lt;/GeneratedCriteriaPlaceholder18&gt;
&lt;GeneratedCriteriaPlaceholder19&gt;GNCRPLHR19&lt;/GeneratedCriteriaPlaceholder19&gt;
&lt;GeneratedCriteriaPlaceholder20&gt;GNCRPLHR20&lt;/GeneratedCriteriaPlaceholder20&gt;
				&lt;/GeneratedCriteria&gt;

			&lt;/BureauDetails&gt;
	&lt;/BureauInformation&gt;
&lt;/Output&gt;













" doc:name="Set Payload"/>
        </round-robin>
  </flow>
</mule>